.layout {
  --size-sidebar: 22ch;

  display: flex;
  /* display: grid;
  grid-template-columns: var(--size-sidebar) 1fr; */
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex-basis: 0;
  flex-grow: 999;

  padding-inline: var(--layout-padding-inline, 20pt);
  padding-block: var(--layout-padding-block-start, 20pt)
    var(--layout-padding-block-end, 40pt);
  margin-inline: auto;
  width: 100%;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
}

.sidebar {
  flex-basis: var(--size-sidebar);
  flex-grow: 0;

  background-color: var(--colorNeutralBackground3);
  box-shadow: var(--shadow4);
  padding: 10pt;
  max-height: 100vh;
  overflow-y: auto;
}

.without-padding-content {
  --layout-padding-inline: 0pt;
  --layout-padding-block-start: 0pt;
  --layout-padding-block-end: 0pt;
}
